<header> 
    <a href="/">
        <img src="/assets/images/logo.svg" alt="A Night in Japan">
    </a> 

    <nav>
        <!-- Add home as a link manually to reorder from last -->
        <a href="/" {% if page.url == "/" %} class="selected" {% endif %}>Home</a>  

        <!-- Adding a loop for any pages we have so that it appears in the nav bar automatically, skipping the Home page -->
        {% for pages in site.pages %}
            {% if pages.type == "homepage" %}   
                {% break %}
            {% endif %}
            {% if pages.sidebar == "menu" %}
            <a href="{{ pages.url }}" {% if page.url == pages.url %} class="selected" {% endif %}> {{ pages.title }} </a> 
            {% endif %}
        {% endfor %}
    </nav>
    
</header>